<!-- 
<nav class="navbar navbar-dark bg-success ">
    <div class="container px-3 ">
        <a routerLink="/contacts/adminhome" class="navbar-brand">
          <i class="fa fa-user"><span> Admin &nbsp;Home</span> </i>  </a>
      </div>
  </nav> -->
  <nav class="navbar navbar-dark bg-success mt-1 ">
    <div class="container-fluid " class="container-fluid d-flex justify-content-center">
        <i class="fa fa-bank mx-4  "></i>
        <a class="navbar-brand" routerLink="/contacts/adminhome">
            <i class="fa fa-user"></i>
            Admin &nbsp;Home</a>
      </div>
  </nav>
<nav class="navbar navbar-dark bg-success mt-4">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink='/contacts/admincustomer'>Customer</a>
            <a class="navbar-brand"  routerLink="/contacts/admintransaction">Transaction</a>
            <a class="navbar-brand" routerLink='/contacts/adminsetting'>Setting</a>
            <a class="navbar-brand" routerLink='/contacts/adminaccountreq'>Account Request</a>
            <a class="navbar-brand" routerLink='/contacts/adminqueries'>Queries</a >
                <a class="navbar-brand" routerLink="/">Logout</a >
      </div>
  </nav>
                  <!-- <app-login (todoAdd)="newid($event)"></app-login>  -->
  
                 
                  <div class="bg-primary d-flex justify-content-center align-items-center rounded-circle mx-4 mt-4" style="width: 90vw; height: 60vh;">
                    <div class="container text-center">
                      <div class="card border-0 bg-primary text-white">
                        <div class="card-body">
                          <h2 class="animated-text">Welcome Admin</h2>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  